//localhost:8081/repository/npm-private/:_authToken=${NPM_TOKEN}
//localhost:8081/repository/npm-private/:username=${NEXUS_USERNAME}
//localhost:8081/repository/npm-private/:_password=${NEXUS_PASSWORD}

